.container {
  position: relative;
  height: 100%;
}

.container_name {
  position: absolute;
  height: 100%;
}

.header_portfolio {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.footer_portfolio {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.language_box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.menu_box {
  display: flex;
  flex-direction: row;
}

.menu_box  button {
  width: 6rem;
  background-color: transparent;
  border-color: transparent;
  font-size: medium;
  border-style: none;
  cursor: pointer;
}

.menu_box  button:hover {
  border-bottom: 4px solid red;
  transition: all 0.1s ease-in;
}

.circular--portrait {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}
.circular--portrait img {
  width: auto;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.footer_icon {
  color: white;
  width: 3rem;
  height: 3rem;
  filter: invert(100%);
}

.me {
  padding-left: 4em;
  padding-right: 4em;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
}

.me_text{
  font-size: 1em;
}

.me_main{
  line-height: 1em;
  font-size: 8em;
  overflow-wrap: break-word;
}

.me_aka{
  text-align: end;
  font-size: 1em;
  
}

.me_aka b{
  color: red;
}